DB_HOST=localhost
DB_PORT=3306
DB_NAME=your-database
DB_USER=your-user
DB_PASSWORD=your-password

ADDRESS=localhost
PORT=8080

TIME_OUT_LIMIT=10

JWT_SECRET_KEY=a-string-secret-at-least-256-bits-long
JWT_EXP_TIME=1

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=youremail@gmail.com
SMTP_PASSWORD="yourpassword"

SUPABASE_URL=https://yoururl.supabase.co
SUPABASE_TOKEN=your-token
SUPABASE_BUCKET=your-bucket

MIDTRANS_CLIENT_KEY=your-client-key
MIDTRANS_SERVER_KEY=your-server-key
MIDTRANS_ENVIRONMENT=sandbox